

.tab-content{
    background-color: #f0f5f5;
    border-left: 3px solid #f0f5f5;
}
#tabClmn {
	
}

/*.btn-primary{
	float: right;
	margin-top: 0px;
}
*/
.modal {
    /*display: none;*/ /* Hidden by default */
    /*position: fixed;*/ /* Stay in place */
    /*z-index: 1;*/ /* Sit on top */
    padding: 100px 150px 0 0; /* Location of the box */
    border-radius: 20px;
    left:200px;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto; *//* Enable scroll if needed */
    /*background-color: rgb(0,0,0);  Fallback color 
    background-color: rgba(0,0,0,0.4); *//* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    /*position: relative*/*/;
    background-color: #fefefe*/;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


.dashboard{
    margin-left: 13px;
}
.info-box{
    display: block;
    min-height: 90px;
    width: 100%;
    background: yellow;
    

}

.star-box{
    background-color: #00c0ef !important;
    min-height: 90px;
    width: 30%;
    float: left;
}
.glyphicon.glyphicon-star-empty{
    font-size: 50px;
    color: #ffffff;
    margin:20px 0 0 26px;
}

.box-content{
    background-color: #ffffff;
    padding: 10px 0 0 20px;
    float: left;
    width: 70%;
    min-height: 90px;
    
}

.expenses-info-box{
    display: block;
    min-height: 90px;
    width: 100%;
    background: #ffffff;
   /*box-shadow: 10px 10px 5px #888888;*/

}

.fire-box{
    background-color: #ff8080 !important;
    min-height: 90px;
    width: 30%;
    float: left;
}
.glyphicon.glyphicon-fire{
    font-size: 50px;
    color: #ffff;
    margin:20px 0 0 26px;
}

.expenses-box-content{
    background-color: #fffff;
    padding: 10px 0 0 20px;
    float: left;
    width: 70%;
    min-height: 90px;
    
}

.today-info-box{
    display: block;
    min-height: 90px;
    width: 100%;
    background: #ffffff;
   /*box-shadow: 10px 10px 5px #888888;*/

}

.bookmark-box{
    background-color: #b380ff !important;
    min-height: 90px;
    width: 30%;
    float: left;
}
.glyphicon.glyphicon-bookmark{
    font-size: 50px;
    color: #ffff;
    margin:20px 0 0 26px;
}

.today-box-content{
    background-color: #fffff;
    padding: 10px 0 0 20px;
    float: left;
    width: 70%;
    min-height: 90px;
    
}

.last-expense-content{
    border-top: 4px solid #33adff;
    border-radius: 3px solid #33adff;
    background-color: #ffffff;
    width: 100%;
    display: block;
}
.last-expense-content h4 {
    margin-left: 10px;
}

.monthly-expense-content{
    border-top: 4px solid #33adff;
    border-radius: 3px solid #33adff;
    background-color: #ffffff;
    width: 100%;
    display: block;
}
.monthly-expense-content h4 {
    margin-left: 10px;
}

.expenses-header{
    background-color: #ffffff;
    min-height: 50px;
}
.expenses-header h4{
    float: left;

}
.expense-data-content{
    background-color:#ffffff;
    border-top: 2px solid #f0f5f5;
}

#expensesContent{
    background-color:#ffffff;
    
    border-top: 4px solid #33adff;
    border-radius: 15px;
    
}

#btnAddExpenses{
    margin: 10px;
    float: right;   
}
#incomeContent{
    background-color: #ffffff;
    border-top: 4px solid #33adff;
    border-radius: 8px;
}
.income-header{
    background-color: #ffffff;
   
}

#btnAddIncome{
    float: right;
    margin: 10px;
}
.income-header h4{
    padding-left: 15px;
    float: left;
}
.income-data{
    border-top: 2px solid #f0f5f5;
    background-color: #ffffff;
   }

#expensesCategoryContent{
    background-color: #ffffff;
    border-top: 4px solid #33adff;
    border-radius: 8px;
}

#incomeCategoryContent{
    background-color: #ffffff;
    border-top: 4px solid #33adff;
    border-radius: 8px; 
}

#myAccountContent{
    background-color: #ffffff;
    border-top: 4px solid #33adff;
    border-radius: 8px;
}

.account-header h3{
    padding-left: 10px;
}

.account-content{
    border:1px solid #f0f5f5;
}
.account-content img{
    margin-top: 15px;
}

#aboutUsContent{
    background-color: #ffffff;
    border-top: 4px solid #33adff;
    border-radius: 8px;
}

/* Modal Content */
/*.edit-modal-body {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}*/

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.loginDiv{
    width: 40%;
    margin-left: 450px;
    border-top: 4px solid #33adff;
    border-left:1px solid #33adff;
    border-right:1px solid #33adff;
    border-bottom:1px solid #33adff;
    border-radius: 8px; 
    padding: 5px;
    margin-top: 20px;

}

.loginDiv h3{
    text-align: center;
}

#subBtn{
    margin-left: 90px;
    margin-right: 20px;
}

#errormsg{
    color: red;
}
.logout{
    float: right;
    background-color: #ffffff;
    border-radius: 3px;
    margin: 10px;
}
.logout a{
    font-size: 18px;
    text-align: center;

}




